.collection_show {
    padding: 0.53333*75px 0;
}

.collection_show ul {
    margin-right: -0.26667*75px;
}

.collection_show .proBox {
    float: left;
    margin-bottom: 0.26667*75px;
    width: 50%;
}

.collection_show .proBox a {
    display: block;
    margin-right: 0.26667*75px;
}

.share {
    padding: 0.53333*75px 0;
}

.share.scale span,
.share.scale .jiathis {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
    margin-right: 0.28*75px;
}